# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/FE/node_modules
/FE/.pnp
/FE/.pnp.js
/BE/node_modules
# testing
/FE/coverage

# production
/FE/build

# misc
/FE/.DS_Store
/FE/.env.local
/FE/.env.development.local
/FE/.env.test.local
/FE/.env.production.local

/FE/npm-debug.log*
/FE/yarn-debug.log*
/FE/yarn-error.log*
